<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqx.excel.dao.BspMapper">
    <resultMap id="BaseResultMap" type="com.cqx.excel.model.Bsp">
        <id column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="province_num" property="provinceNum" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="available_flag" property="availableFlag" jdbcType="BIT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    city_id, province, province_num, name, available_flag, code
  </sql>

    <insert id="batchInsert" parameterType="map">
        insert into bsp (city_id, province, province_num,
        name, available_flag, code
        )
        VALUES
        <foreach collection="records" item="item" separator=",">
            (#{item.cityId,jdbcType=INTEGER}, #{item.province,jdbcType=VARCHAR}, #{item.provinceNum,jdbcType=INTEGER},
            #{item.name,jdbcType=VARCHAR}, #{item.availableFlag,jdbcType=BIT}, #{item.code,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bsp
        where city_id = #{cityId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bsp
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cqx.excel.model.Bsp">
    insert into bsp (city_id, province, province_num, 
      name, available_flag, code
      )
    values (#{cityId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{provinceNum,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{availableFlag,jdbcType=BIT}, #{code,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.cqx.excel.model.Bsp">
        insert into bsp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cityId != null">
                city_id,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="provinceNum != null">
                province_num,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="availableFlag != null">
                available_flag,
            </if>
            <if test="code != null">
                code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="provinceNum != null">
                #{provinceNum,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="availableFlag != null">
                #{availableFlag,jdbcType=BIT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cqx.excel.model.Bsp">
        update bsp
        <set>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="provinceNum != null">
                province_num = #{provinceNum,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="availableFlag != null">
                available_flag = #{availableFlag,jdbcType=BIT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
        </set>
        where city_id = #{cityId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cqx.excel.model.Bsp">
    update bsp
    set province = #{province,jdbcType=VARCHAR},
      province_num = #{provinceNum,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      available_flag = #{availableFlag,jdbcType=BIT},
      code = #{code,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
</mapper>