<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqx.excel.dao.V5AddrMapper">
    <resultMap id="BaseResultMap" type="com.cqx.excel.model.V5Addr">
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="batchInsert" parameterType="map">
        insert into v5_addr (province, city, area
        )
        VALUES
        <foreach collection="records" item="item" separator=",">
            (#{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.area,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="insert" parameterType="com.cqx.excel.model.V5Addr">
    insert into v5_addr (province, city, area
      )
    values (#{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.cqx.excel.model.V5Addr">
        insert into v5_addr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>