spring:
  datasource:
    url: jdbc:mysql://localhost:3306/somethingnew?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 5
    minIdle: 5
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
  redis:
        database: 0
        host: 47.92.6.210
        port: 7000
        password:
        pool:
          max-active: 8
          max-wait: -1
          max-idle: 8
        timeout: 0
  mvc:
    view:
      prefix:
      suffix: .html
  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true
      exclude: static/**,templates/**
    livereload:
      enabled: true
    remote:
      debug:
        enabled: true
mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.cqx.cache
logging:
  level: debug
server:
  port: 8080